[Windows 7]
row=5
col=0

[putty.reg]
row=4
col=0

[virtualbox]
row=3
col=0

[highload_reports]
row=6
col=1

[load_run_3.tar.gz]
row=0
col=2

[calm_load_tests_2015-10-05_tsung_reports.zip]
row=1
col=2

[service.config]
row=0
col=3

[CentOS-ARM_CIPP-default]
row=1
col=1

[load_run_2.tar.gz]
row=5
col=1

[tver_access.txt]
row=3
col=1

[Freemind]
row=0
col=1

[load_run_2]
row=2
col=1

[load_run_3]
row=4
col=1

[python]
row=2
col=2

[Корзина]
row=2
col=0

[Файловая система]
row=1
col=0

[Домашний каталог]
row=0
col=0

